{% for block in entry.contentPanels.all() %}
	{% if block.type == "hero" %}
		<section class="hero">
            <div class="u-container">
             <div class="hero__container{% if block.heroTextPosition == 'right' %} hero__container--end{% endif %}{% if (block.heroVideo | length) %} hero__container--video{% endif %}">
                {% if (block.heroVideo | length) %}
                    <div class="hero__media-container">
                        <video class="hero__video" src="{{ block.heroVideo[0].getUrl() }}" autoplay muted loop></video>
                    </div>

                {% elseif (block.heroBackgroundImage | length) %}
                    {% set image = block.heroBackgroundImage.one() %}
                    

                    {% set webpTransform = {
                        format: 'webp',
                        quality: 85,
                    } %}
                    {% set jpegTransform = {
                        format: 'jpeg',
                        quality: 75,
                    } %}


                    <picture class="hero__media-container">
                        <source type="image/webp" srcset="{{ image.getSrcSet([1600, 3200, 4800], webpTransform) }}">
                        <source type="image/jpeg" srcset="{{ image.getSrcSet([1600, 3200, 4800], jpegTransform) }}">
                        <img class="hero__image" src={{image.url}} alt="">
                    </picture>


                {% endif %}
                <div class="hero__row">
                    <div class="hero__text">
                        {% if block.heroSupertitle %}
                            <div class="hero__supertitle">{{ block.heroSupertitle }}</div>
                        {% endif %}
                        <h2 class="hero__title">{{ block.heroTitle }}</h2>
                        {% if block.heroSubtitle %}
                            <h3 class="hero__subtitle">{{ block.heroSubtitle }}</h3>
                        {% endif %}
                        {% if block.heroLinkText and block.heroLinkUrl %}
                            <a href={{ block.heroLinkUrl }} class="button button--secondary button--arrow">{{ block.heroLinkText }}</a>
                        {% endif %}
                    </div>
                </div>
                
            </div>
                
               
            </div>

        </section>

	
	{% elseif block.type == "callToAction" %}
		<section class="call-to-action">
			<div class="u-container">
				<div class="call-to-action__content">
					<h3 class="call-to-action__headline">
						{{block.panelTitle}}
					</h3>
					{% if block.buttonText %}
						<a class="button button--action" href="{{block.buttonHref}}">
							{{block.buttonText}}
						</a>
					{% endif %}
				</div>
			</div>
		</section>
	{% elseif block.type == "imagePanel" %}
		<section class="image-panel">
			<picture class="image-panel__picture" role="presentation">
				{% set image = block.image.one() %}
				<img alt="" class="image-panel__image" src="{{image.getUrl()}}" loading="lazy"/>
			</picture>
		</section>
	
	{% elseif block.type == "contentPanel" %}
		<section class="content-panel">
			<div class="u-container">
				<div class="content-panel__container">
					<h1 class="panel__heading">{{ block.panelTitle }}</h1>
					<div class="panel__content">{{ block.panelSubheading }}</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "iconPanel" %}
		<section class="feature-panel">
			<div class="u-container">
				<h1 class="feature-panel__heading panel__heading">
					{{ block.panelTitle }}
				</h1>
				<div class="feature-panel__wrapper">
					{% for item in block.iconItems.all() %}
						<div class="feature-panel__item">
							<div class="feature-panel__picture">
								<picture class="feature-panel__picture u-hidden-on-no-js">
									{% set icon = item.itemIcon.one() %}
									<img alt="{{ item.itemHeading }} icon" class="feature-panel__image object-fit" src="{{icon.getUrl()}}" loading="lazy">
								</picture>
							</div>
							<h2>{{ item.itemHeading }}</h2>
							<div class="feature-panel__item--description">
								{{ item.itemDescription }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>

    {% elseif block.type == "projectsRollup" %}
		<section class="featured-projects">
            <div class="u-container">
                <h2 class="featured-projects__heading">{{ block.projectsPanelHeading }}</h2>
                <div class="featured-projects__filters" data-filter-group="category">
                    {% set myTagQuery = craft.tags().group('projectsFilter') %}
                    <button class="featured-projects__filters-link featured-projects__filters-link--active" data-filter="*">All</button>
                    {% set tags = myTagQuery.all() %}
                    {% for tag in tags %}
                        <button class="featured-projects__filters-link" data-filter=".{{ tag.title | lower }}">{{ tag.title }}</button>
                    {% endfor %}
                </div>
                <div class="featured-projects__grid">
                    {% for project in craft.entries.section('projects').limit(block.projectsLimit) %}
                        {% set cssFilterClassess = "" %}
                        {% set allTagsArray = project.projectsTags.all() %}
                        
                        {% for item in allTagsArray %}
                            {% set cssFilterClassess = cssFilterClassess ~ ' ' ~ item.title %}
                        {% endfor %}

                        <div class="featured-projects__item {{cssFilterClassess | lower}}">
                            <a class="featured-projects__anchor" href={{ project.uri }}>
                                {% set image = project.projectsRollupImage.one() %}
                                    {% set transform1x = {
                                        format: 'webp',
                                        mode: 'crop',
                                        width: 650,
                                        quality: 85
                                    } %}	
                                    {% set transform2x = {
                                        format: 'webp',
                                        mode: 'crop',
                                        width: 1300,
                                        quality: 85
                                    } %}
                                    {% set transform3x = {
                                        format: 'webp',
                                        mode: 'crop',
                                        width: 1950,
                                        quality: 85
                                    } %}
                                    {% set transformFallback = {
                                        format: 'jpeg',
                                        mode: 'crop',
                                        width: 650,
                                        quality: 80
                                    } %}

                                <div class="featured-projects__inner"
                                    {% if image %}
                                    style="
                                        background-image: url({{image.getUrl(transformFallback)}});
                                        background-image: -webkit-image-set(
                                            url({{image.getUrl(transform1x)}}) 1x,
                                            url({{image.getUrl(transform2x)}}) 2x,
                                            url({{image.getUrl(transform3x)}}) 3x
                                        );
                                        background-image: image-set(
                                            url({{image.getUrl(transform1x)}}) 1x,
                                            url({{image.getUrl(transform2x)}}) 2x,
                                            url({{image.getUrl(transform3x)}}) 3x
                                        )"
                                    {% endif %}
                                >
                                    <div class="featured-projects__overlay">
                                        <p class="featured-projects__description">{{ project.projectsRollupDescription }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {#<div class="featured-projects__item industrial" data-category="consumer">
                        <a class="featured-projects__anchor" href="/contact">
                            <div class="featured-projects__inner featured-projects__inner--no-image">
                                <div class="featured-projects__overlay">
                                    {# <h4 class="">Tangent Engineers Innovation</h4>
                                    <p class="">Tangent works with innovators to optimize impact and feasibility. We are incredibly easy to work with.</p>
                                    <a href="company" class="button button--secondary">Read more about us.</a>
                                </div>
                                <div class="featured-projects__content">
                                    <h4 class="featured-projects__title">Tangent Engineers Innovation</h4>
                                    <p class="">Tangent works with innovators to optimize impact and feasibility. We are incredibly easy to work with.</p>
                                    <a href="" class="button button--secondary">Read more about us.</a>
                                </div>
                            </div>
                        </a>
                    </div>#}
                </div>
            </div>
        </section>
	{% endif %}

{% endfor %}
