{% for block in entry.contentPanels.all() %}
	{% if block.type == "imagePanel" %}
		{% set image = block.image.one() %}
		{% if block.imageBehavior == 'full' %}
			<section class="image-panel-full-width">
				<picture class="image-panel-full-width__picture" role="presentation">
					<source {{ attr({
						type: 'image/webp',
						srcset: image.getSrcset(
							[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
							{ format: 'webp', }
						),
						sizes: '100vw',
					}) }}>
					<source {{ attr({
						type: 'image/jpeg',
						srcset: image.getSrcset(
							[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
							{ format: 'jpeg', }
						),
						sizes: '100vw',
					}) }}>

					<img class="image-panel-full-width__image" alt="{{ image.alt }}" src={{image.url}} loading="lazy" />
				</picture>
			</section>
		{% else %}
			<section class="image-panel">
				<div class="u-container-small">
					<figure class="image-panel__figure">
						<picture class="image-panel__picture" role="presentation">
							<source {{ attr({
								type: 'image/webp',
								srcset: image.getSrcset(
									[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
									{ format: 'webp', }
								),
								sizes: '1036px',
							}) }}>
							<source {{ attr({
								type: 'image/jpeg',
								srcset: image.getSrcset(
									[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
									{ format: 'jpeg', }
								),
								sizes: '1036px',
							}) }}>

							<img class="image-panel__image" alt="{{ image.alt }}" src={{image.url}} loading="lazy">
						</picture>
						{% if (block.imageCaption | length) %}
							<figcaption>{{block.imageCaption}}</figcaption>
						{% endif %}
					</figure>

				</div>
			</section>
		{% endif %}
	{% elseif block.type == "imageTextPanel" %}
		<section class="image-text-panel">
			<div class="u-container-small">
				<div class="image-text-panel__container">
					<div class="image-text-panel__content{% if block.imagePosition == 'left' %} image-text-panel__content--reverse{% endif %}">
						{% if block.subject %}
							<h4 class="image-text-panel__subject">{{ block.subject }}</h4>
						{% endif %}
						<h1 class="image-text-panel__title panel__heading">{{block.panelTitle}}</h1>
						<div class="image-text-panel__description panel__content">{{block.panelContent | nl2br}}</div>
					</div>
					{% if (block.image | length) %}
						{% set image = block.image.one() %}
						<div class="image-text-panel__picture-container">
							<picture class="image-text-panel__picture">
								<source {{ attr({
									type: 'image/webp',
									srcset: image.getSrcset(
										[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
										{ format: 'webp', }
									),
									sizes: '620px',
								}) }}>
								<source {{ attr({
									type: 'image/jpeg',
									srcset: image.getSrcset(
										[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
										{ format: 'jpeg', }
									),
									sizes: '620px',
								}) }}>
								<img class="image-text-panel__image panel__image" alt="{{ image.alt }}" src={{image.url}} loading="lazy"/>
							</picture>
						</div>
					{% endif %}
				</div>
			</div>
		</section>

	{% elseif block.type == "doubleTextColumns" %}
		<section class="text-columns-panel">
			<div class="u-container-small">
				<div class="text-columns-panel__container">
					<div class="text-columns-panel__content">
						{% if block.subjectLeft %}
							<h4 class="text-columns-panel__subject">{{ block.subjectLeft }}</h4>
						{% endif %}
						<h1 class="text-columns-panel__title panel__heading">{{block.panelTitleLeft}}</h1>
						<p class="text-columns-panel__description panel__content">{{block.panelContentLeft | nl2br}}</p>
					</div>
					<div class="text-columns-panel__content">
						{% if block.subjectRight %}
							<h4 class="text-columns-panel__subject">{{ block.subjectRight }}</h4>
						{% endif %}
						<h1 class="text-columns-panel__title">{{block.panelTitleRight}}</h1>
						<p class="text-columns-panel__description">{{block.panelContentRight | nl2br}}</p>
					</div>
				</div>
			</div>
		</section>

	{% elseif block.type == "contentPanel" %}
		<section class="content-panel">
			<div class="u-container-small">
				<div class="content-panel__container">
					<h1 class="panel__heading">{{ block.panelTitle }}</h1>
					<p class="panel__content">{{ block.panelContent | nl2br}}</p>
				</div>
			</div>
		</section>
		{# {% elseif block.type == "iconPanel" %}
				<section class="feature-panel">
					<div class="u-container">
						<h1 class="feature-panel__heading panel__heading">
							{{ block.panelTitle }}
						</h1>
						<div class="feature-panel__wrapper">
							{% for item in block.iconItems.all() %}
								<div class="feature-panel__item">
									<div class="feature-panel__picture">
										<picture class="feature-panel__picture u-hidden-on-no-js">
											{% set icon = item.itemIcon.one() %}
											<img alt="{{ item.itemHeading }} icon" class="feature-panel__image object-fit" src="{{icon.getUrl()}}" loading="lazy">
										</picture>
									</div>
									<h2>{{ item.itemHeading }}</h2>
									<div class="feature-panel__item--description">
										{{ item.itemDescription }}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</section> #}
	{# {% elseif block.type == "services" %} #}

	{% elseif block.type == 'blockQuote' %}
		<div class="u-container-small">
			<blockquote>
				<p>
					{{ block.quote }}
				</p>
				<small>{{ block.author }}</small>
			</blockquote>
		</div>
	{% elseif block.type == "cta" %}
	<sectiion class="cta">
		<div class="u-container">
			<div  class="cta__inner">
				<div class="cta__heading">
					{{block.ctaHeading}}
				</div>
				<div class="cta__summary">{{block.ctaSummary}}</div>
				<a href={{block.ctaLinkURL}} class="cta__link button button--arrow">{{block.ctaLinkText}}</a>
			</div>
		</div>
	</sectiion>					

	{% elseif block.type == "relatedProjects" %}
		<section class="related-projects">
			<div class="u-container">
				<h2 class="related-projects__heading">{{ block.projectsPanelHeading }}</h2>
			</div>
			<div id="grid" class="related-projects__grid">
				{% set slugs = block.projectsSlug %}
				{% for slug in slugs %}
					{% set project = craft.entries.section('projects').slug(slug).one() %}

					<div id="project-item" class="related-projects__item">
						<a class="related-projects__anchor" href={{ project.uri }}>
							{% set image = project.projectsRollupImage.one() %}
							{% set transform1x = {
									format: 'webp',
									mode: 'crop',
									width: 650,
									quality: 85
								} %}
							{% set transform2x = {
									format: 'webp',
									mode: 'crop',
									width: 1300,
									quality: 85
								} %}
							{% set transform3x = {
									format: 'webp',
									mode: 'crop',
									width: 1950,
									quality: 85
								} %}
							{% set transformFallback = {
									format: 'jpeg',
									mode: 'crop',
									width: 650,
									quality: 80
								} %}

							<div class="related-projects__inner" {% if image %} style="
									background-image: url({{image.getUrl(transformFallback)}});
									background-image: -webkit-image-set(
										url({{image.getUrl(transform1x)}}) 1x,
										url({{image.getUrl(transform2x)}}) 2x,
										url({{image.getUrl(transform3x)}}) 3x
									);
									background-image: image-set(
										url({{image.getUrl(transform1x)}}) 1x,
										url({{image.getUrl(transform2x)}}) 2x,
										url({{image.getUrl(transform3x)}}) 3x
									)" {% endif %}
								>
								<div class="related-projects__overlay">
									<p class="related-projects__description">{{ project.projectsRollupDescription }}</p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</section>

	{% elseif block.type == "projectsRollup" %}
		<section class="featured-projects">
			<div class="u-container">
				<h2 class="featured-projects__heading">{{ block.projectsPanelHeading }}</h2>
				<div class="featured-projects__filters" data-filter-group="category">
					{% set myTagQuery = craft.tags().group('projectsFilter') %}
					<button class="featured-projects__filters-link featured-projects__filters-link--active" data-filter="*">All</button>
					{% set tags = myTagQuery.all() %}
					{% for tag in tags %}
						<button class="featured-projects__filters-link" data-filter=".{{ tag.title | lower }}">{{ tag.title }}</button>
					{% endfor %}
				</div>
				<div id="grid" class="featured-projects__grid">
					{% for project in craft.entries.section('projects').limit(block.projectsLimit) %}
						{% set cssFilterClassess = "" %}
						{% set allTagsArray = project.projectsTags.all() %}
						{% for item in allTagsArray %}
							{% set cssFilterClassess = cssFilterClassess ~ ' ' ~ item.title %}
						{% endfor %}
						<div id="project-item" class="featured-projects__item {{cssFilterClassess | lower}}">
							<a class="featured-projects__anchor" href={{ project.uri }}>
								{% set image = project.projectsRollupImage.one() %}
								{% set transform1x = {
                                        format: 'webp',
                                        mode: 'crop',
                                        width: 650,
                                        quality: 85
                                    } %}
								{% set transform2x = {
                                        format: 'webp',
                                        mode: 'crop',
                                        width: 1300,
                                        quality: 85
                                    } %}
								{% set transform3x = {
                                        format: 'webp',
                                        mode: 'crop',
                                        width: 1950,
                                        quality: 85
                                    } %}
								{% set transformFallback = {
                                        format: 'jpeg',
                                        mode: 'crop',
                                        width: 650,
                                        quality: 80
                                    } %}

								<div class="featured-projects__inner" {% if image %} style="
                                        background-image: url({{image.getUrl(transformFallback)}});
                                        background-image: -webkit-image-set(
                                            url({{image.getUrl(transform1x)}}) 1x,
                                            url({{image.getUrl(transform2x)}}) 2x,
                                            url({{image.getUrl(transform3x)}}) 3x
                                        );
                                        background-image: image-set(
                                            url({{image.getUrl(transform1x)}}) 1x,
                                            url({{image.getUrl(transform2x)}}) 2x,
                                            url({{image.getUrl(transform3x)}}) 3x
                                        )" {% endif %}
                                    >
									<div class="featured-projects__overlay">
										<p class="featured-projects__description">{{ project.projectsRollupDescription }}</p>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
					{#<div class="featured-projects__item industrial" data-category="consumer">
                        <a class="featured-projects__anchor" href="/contact">
                            <div class="featured-projects__inner featured-projects__inner--no-image">
                                <div class="featured-projects__overlay">
                                    {# <h4 class="">Tangent Engineers Innovation</h4>
                                    <p class="">Tangent works with innovators to optimize impact and feasibility. We are incredibly easy to work with.</p>
                                    <a href="company" class="button button--secondary">Read more about us.</a>
                                </div>
                                <div class="featured-projects__content">
                                    <h4 class="featured-projects__title">Tangent Engineers Innovation</h4>
                                    <p class="">Tangent works with innovators to optimize impact and feasibility. We are incredibly easy to work with.</p>
                                    <a href="" class="button button--secondary">Read more about us.</a>
                                </div>
                            </div>
                        </a>
                    </div>#}
				</div>
			</div>
		</section>

	{% elseif block.type == "servicesRollup" %}
		<section class="services-rollup">
			<div class="u-container">
				<div class="services-rollup__inner">
					<h2 class="services-rollup__heading">{{block.servicesPanelHeading}}</h2>
					<h5>{{block.servicesPanelSubheading}}</h5>
						<div class="services-rollup__items">
							{% for item in craft.entries.section('services').all() %}
								<div class="services-rollup__item">
									{% set image = item.servicesRollupImage.one() %}
									<a href={{item.uri}}>
										<picture class="services-rollup__picture">
											<div class="featured-projects__overlay">
												<p class="featured-projects__description">Umay Care - A device for treating digital eye strain</p>
											</div>
											<source {{ attr({
												type: 'image/webp',
												srcset: image.getSrcset(
													[320, 360, 412, 600, 768, 1024, 1280, 1440],
													{ format: 'webp', }
												),
												sizes: '(min-width: 1024px) 50%, 416px',
											}) }}>
											<source {{ attr({
												type: 'image/jpeg',
												srcset: image.getSrcset(
													[320, 360, 412, 600, 768, 1024, 1280, 1440],
													{ format: 'jpeg', }
												),
												sizes: '(min-width: 1024px) 50%, 416px',
											}) }}>
											<img class="services-rollup__image" src={{image.url}} width={{image.width}} height={{image.height}} alt="{{ image.alt }}" loading="lazy"/>
										</picture>
									</a>
									<div class="services-rollup__text">
										<a href={{item.uri}}>
											<h3 class="services-rollup__title">
												{{ item.title }}
											</h3>
										</a>
										<div class="services-rollup__summary">
											{{ item.servicesRollupDescription }}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
				</div>
			</div>
		</section>

	{% elseif block.type == "articlesRollup" %}
		<section class="articles-rollup">
			<div class="u-container">
				<div class="articles-rollup__inner">
					<h2 class="articles-rollup__heading">{{block.articlesPanelHeading}}</h2>
						<div class="articles-rollup__items">
							{% for item in craft.entries.section('articles').limit(block.articlesLimit) %}
								<div class="articles-rollup__item">
									{% set image = item.articlesImage.one() %}
									<picture class="articles-rollup__picture">
										<source {{ attr({
											type: 'image/webp',
											srcset: image.getSrcset(
												[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
												{ format: 'webp', }
											),
											sizes: '(min-width: 1024px) 416px, 983px',
										}) }}>
										<source {{ attr({
											type: 'image/jpeg',
											srcset: image.getSrcset(
												[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
												{ format: 'jpeg', }
											),
											sizes: '(min-width: 1024px) 416px, 983px',
										}) }}>
										
										<img class="articles-rollup__image" alt="{{ image.alt }}" src={{image.url}} width={{image.width}} height={{image.height}} loading="lazy"/>
									</picture>
									<div class="articles-rollup__text">
										<div class="articles-rollup__date-container">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 -256 1850 1850"><path d="M128-128h288v288H128v-288zm352 0h320v288H480v-288zM128 224h288v320H128V224zm352 0h320v320H480V224zM128 608h288v288H128V608zm736-736h320v288H864v-288zM480 608h320v288H480V608zm768-736h288v288h-288v-288zM864 224h320v320H864V224zm-352 864v288q0 13-9.5 22.5T480 1408h-64q-13 0-22.5-9.5T384 1376v-288q0-13 9.5-22.5t22.5-9.5h64q13 0 22.5 9.5t9.5 22.5zm736-864h288v320h-288V224zM864 608h320v288H864V608zm384 0h288v288h-288V608zm32 480v288q0 13-9.5 22.5t-22.5 9.5h-64q-13 0-22.5-9.5t-9.5-22.5v-288q0-13 9.5-22.5t22.5-9.5h64q13 0 22.5 9.5t9.5 22.5zm384 64V-128q0-52-38-90t-90-38H128q-52 0-90 38T0-128v1280q0 52 38 90t90 38h128v96q0 66 47 113t113 47h64q66 0 113-47t47-113v-96h384v96q0 66 47 113t113 47h64q66 0 113-47t47-113v-96h128q52 0 90-38t38-90z" style="fill:currentColor" transform="matrix(1 0 0 -1 91.119 1297.864)"/></svg>
											<span class="articles-rollup__date">{{ item.articlesDate | date('medium') }}</span>
										</div>

										<h5 class="articles-rollup__title">{{item.title}}</h5>
										<div class="articles-rollup__summary">{{item.articlesRollupDescription}}</div>
										<a href={{item.uri}} class="articles-rollup__link button button--arrow">{{item.articlesLinkText}}</a>
									</div>
								</div>
							{% endfor %}
						</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endfor %}

