
{% if entry.contentPanelWidth == '1080' %}
	{% set container = 'u-container-small' %}
{% elseif entry.contentPanelWidth == '1280' %}
	{% set container = 'u-container' %}
{% else %}
	{% set container = 'u-container' %}
{% endif %}

{% for block in entry.contentPanels.all() %}
	{% if block.type == "imagePanel" %}
		{% set image = block.image.one() %}
		{% if block.imageBehavior == 'full' %}
			<section class="image-panel-full-width{% if block.heading | length %} image-panel-full-width--hasHeader{% endif %}">
				<figure class="image-panel__figure">
					{% if block.heading | length %}
						<h2 class="image-panel__heading">{{block.heading}}</h2>
					{% endif %}
					<picture class="image-panel-full-width__picture" role="presentation">
						<source {{ attr({
							type: 'image/webp',
							srcset: image.getSrcset(
								[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
								{ format: 'webp', }
							),
							sizes: '100vw',
						}) }}>
						<source {{ attr({
							type: 'image/jpeg',
							srcset: image.getSrcset(
								[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
								{ format: 'jpeg', }
							),
							sizes: '100vw',
						}) }}>

						<img class="image-panel-full-width__image{% if block.imageBoxShadow == 'yes' %} image-panel__image--shadow{% endif %}" alt="{{ image.alt }}" src={{image.url}} width={{image.width}} height={{image.height}} loading="lazy" />
					</picture>
					{% if (block.imageCaption | length) %}
						<figcaption>{{block.imageCaption}}</figcaption>
					{% endif %}
				</figure>
			</section>
		{% else %}
			<section class="image-panel">
				<div class={{ container }}>
					<figure class="image-panel__figure{% if block.imageBehavior == 'contained' %} image-panel__image--100{% endif %}">
						{% if block.heading | length %}
							<h2 class="image-panel__heading">{{block.heading}}</h2>
						{% endif %}
						<picture class="image-panel__picture" role="presentation">
							<source {{ attr({
								type: 'image/webp',
								srcset: image.getSrcset(
									[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
									{ format: 'webp', }
								),
								sizes: '1036px',
							}) }}>
							<source {{ attr({
								type: 'image/jpeg',
								srcset: image.getSrcset(
									[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
									{ format: 'jpeg', }
								),
								sizes: '1036px',
							}) }}>
							<img class="image-panel__image{% if block.imageBehavior == 'contained' %} image-panel__image--100{% endif %}" alt="{{ image.alt }}" src={{image.url}} width={{image.width}} height={{image.height}} loading="lazy">
						</picture>
						{% if (block.imageCaption | length) %}
							<figcaption>{{block.imageCaption}}</figcaption>
						{% endif %}
					</figure>

				</div>
			</section>
		{% endif %}
	{% elseif block.type == "imageTextPanel" %}
		<section class="image-text-panel">
			<div class={{ container }}>
				<div class="image-text-panel__container">
					<div class="image-text-panel__content image-text-panel__content--{{ block.layout }}{% if block.imagePosition == 'left' %} image-text-panel__content--reverse{% endif %}">
						{% if block.subject %}
							<div class="image-text-panel__subject">{{ block.subject }}</div>
						{% endif %}
						{% if block.panelTitle %}
							<h2 class="image-text-panel__title">{{block.panelTitle}}</h2>
						{% endif %}
						{% if block.panelSubtitle %}
							<h3 class="image-text-panel__subtitle">{{block.panelSubtitle}}</h3>
						{% endif %}
						<div class="image-text-panel__description">{{block.panelContent | nl2br}}</div>
					</div>
					{% if (block.image | length) %}
						{% set image = block.image.one() %}
						<div class="image-text-panel__picture-container image-text-panel__picture-container--{{ block.layout }}">
							<picture class="image-text-panel__picture">
								<source {{ attr({
									type: 'image/webp',
									srcset: image.getSrcset(
										[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
										{ format: 'webp', }
									),
									sizes: '620px',
								}) }}>
								<source {{ attr({
									type: 'image/jpeg',
									srcset: image.getSrcset(
										[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
										{ format: 'jpeg', }
									),
									sizes: '620px',
								}) }}>
								<img class="image-text-panel__image{% if block.imageBoxShadow == 'yes' %} image-text-panel__image--shadow{% endif %}" alt="{{ image.alt }}" src={{image.url}} loading="lazy"/>
							</picture>
						</div>
					{% endif %}
				</div>
			</div>
		</section>

	{% elseif block.type == "doubleTextColumns" %}
		<section class="text-columns-panel">
			<div class={{ container }}>
				<div class="text-columns-panel__container">
					<div class="text-columns-panel__content">
						{% if block.subjectLeft %}
							<div class="text-columns-panel__subject">{{ block.subjectLeft }}</div>
						{% endif %}
						<h2 class="text-columns-panel__title panel__heading">{{block.panelTitleLeft}}</h2>
						<p class="text-columns-panel__description panel__content">{{block.panelContentLeft | nl2br}}</p>
					</div>
					<div class="text-columns-panel__content">
						{% if block.subjectRight %}
							<div class="text-columns-panel__subject">{{ block.subjectRight }}</div>
						{% endif %}
						<h2 class="text-columns-panel__title">{{block.panelTitleRight}}</h2>
						<p class="text-columns-panel__description">{{block.panelContentRight | nl2br}}</p>
					</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "hr" %}
		<hr class={{ container }}>
	{% elseif block.type == "bullets" %}
		<section class="bullets">
			<div class={{ container }}>
				{% if block.heading | length %}
					<h2 class="bullets__heading">{{block.heading}}</h2>
				{% endif %}
				<ul>
					{% set items = block.items %}
					{% for item in items %}
						<li>{{item.item}}</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	{% elseif block.type == "contentPanel" %}
		{% if block.panelBackgroundColor == 'grey' %}
			{% set color = '#e6e7e8' %}
		{% elseif block.panelBackgroundColor == 'transparent' %}
			{% set color = 'transparent' %}
		{% else %}
			{% set color = 'transparent' %}
		{% endif %}

		<section class="content-panel{% if block.panelBackgroundColor == 'grey' %} content-panel--padded{% endif %}" style="background-color: {{ color }}">
			<div class={{ container }}>
				<div class="content-panel__container">
				{% if block.panelTitle %}
					<h2 class="panel__heading">{{ block.panelTitle }}</h2>
				{% endif %}
				{% if block.panelSubheading %}
					<h3 class="panel__subheading">{{ block.panelSubheading }}</h3>
				{% endif %}
					<div class="panel__content">{{ block.panelContent}}</div>
				</div>
			</div>
		</section>

	{% elseif block.type == 'blockQuote' %}
		<div class={{ container }}>
			<blockquote>
				<p>
					{{ block.quote }}
				</p>
				<small>{{ block.author }}</small>
			</blockquote>
		</div>
	{% elseif block.type == "cta" %}
		<section class="cta">
			<div class={{ container }}>
				<div  class="cta__inner">
					<h2 class="cta__heading">
						{{block.ctaHeading}}
					</h2>
					<p class="cta__summary">{{block.ctaSummary}}</p>
					<a href={{block.ctaLinkURL}} class="cta__link button button--secondary button--arrow">{{block.ctaLinkText}}</a>
				</div>
			</div>
		</section>					
	{% endif %}
{% endfor %}

