
{% if entry.contentPanelWidth == '1080' %}
	{% set container = 'u-container-small' %}
{% elseif entry.contentPanelWidth == '1280' %}
	{% set container = 'u-container' %}
{% else %}
	{% set container = 'u-container' %}
{% endif %}

{% for block in entry.contentPanels.all() %}
	{% if block.type == "imagePanel" %}
		{% set image = block.image.one() %}
		{% if block.imageBehavior == 'full' %}
			<section class="image-panel-full-width{% if block.heading | length %} image-panel-full-width--hasHeader{% endif %}">
				<figure class="image-panel__figure">
					{% if block.heading | length %}
						<h2 class="image-panel__heading">{{block.heading}}</h2>
					{% endif %}
					<picture class="image-panel-full-width__picture" role="presentation">
						<source {{ attr({
							type: 'image/webp',
							srcset: image.getSrcset(
								[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
								{ format: 'webp', }
							),
							sizes: '100vw',
						}) }}>
						<source {{ attr({
							type: 'image/jpeg',
							srcset: image.getSrcset(
								[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
								{ format: 'jpeg', }
							),
							sizes: '100vw',
						}) }}>

						<img class="image-panel-full-width__image{% if block.imageBoxShadow == 'yes' %} image-panel__image--shadow{% endif %}" alt="{{ image.alt }}" src={{image.url}} width={{image.width}} height={{image.height}} loading="lazy" />
					</picture>
					{% if (block.imageCaption | length) %}
						<figcaption>{{block.imageCaption}}</figcaption>
					{% endif %}
				</figure>
			</section>
		{% else %}
			<section class="image-panel">
				<div class={{ container }}>
					<figure class="image-panel__figure{% if block.imageBehavior == 'contained' %} image-panel__image--100{% endif %}">
						{% if block.heading | length %}
							<h2 class="image-panel__heading">{{block.heading}}</h2>
						{% endif %}
						<picture class="image-panel__picture" role="presentation">
							<source {{ attr({
								type: 'image/webp',
								srcset: image.getSrcset(
									[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
									{ format: 'webp', }
								),
								sizes: '1036px',
							}) }}>
							<source {{ attr({
								type: 'image/jpeg',
								srcset: image.getSrcset(
									[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
									{ format: 'jpeg', }
								),
								sizes: '1036px',
							}) }}>
							<img class="image-panel__image{% if block.imageBehavior == 'contained' %} image-panel__image--100{% endif %}" alt="{{ image.alt }}" src={{image.url}} width={{image.width}} height={{image.height}} loading="lazy">
						</picture>
						{% if (block.imageCaption | length) %}
							<figcaption>{{block.imageCaption}}</figcaption>
						{% endif %}
					</figure>

				</div>
			</section>
		{% endif %}
	{% elseif block.type == "imageTextPanel" %}
		<section class="image-text-panel">
			<div class={{ container }}>
				<div class="image-text-panel__container">
					<div class="image-text-panel__content image-text-panel__content--{{ block.layout }}{% if block.imagePosition == 'left' %} image-text-panel__content--reverse{% endif %}">
						{% if block.subject %}
							<div class="image-text-panel__subject">{{ block.subject }}</div>
						{% endif %}
						{% if block.panelTitle %}
							<h2 class="image-text-panel__title">{{block.panelTitle}}</h2>
						{% endif %}
						{% if block.panelSubtitle %}
							<h3 class="image-text-panel__subtitle">{{block.panelSubtitle}}</h3>
						{% endif %}
						<div class="image-text-panel__description">{{block.panelContent | nl2br}}</div>
					</div>
					{% if (block.image | length) %}
						{% set image = block.image.one() %}
						<div class="image-text-panel__picture-container image-text-panel__picture-container--{{ block.layout }}">
							<picture class="image-text-panel__picture">
								<source {{ attr({
									type: 'image/webp',
									srcset: image.getSrcset(
										[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
										{ format: 'webp', }
									),
									sizes: '620px',
								}) }}>
								<source {{ attr({
									type: 'image/jpeg',
									srcset: image.getSrcset(
										[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
										{ format: 'jpeg', }
									),
									sizes: '620px',
								}) }}>
								<img class="image-text-panel__image{% if block.imageBoxShadow == 'yes' %} image-text-panel__image--shadow{% endif %}" alt="{{ image.alt }}" src={{image.url}} loading="lazy"/>
							</picture>
						</div>
					{% endif %}
				</div>
			</div>
		</section>

	{% elseif block.type == "doubleTextColumns" %}
		<section class="text-columns-panel">
			<div class={{ container }}>
				<div class="text-columns-panel__container">
					<div class="text-columns-panel__content">
						{% if block.subjectLeft %}
							<div class="text-columns-panel__subject">{{ block.subjectLeft }}</div>
						{% endif %}
						<h2 class="text-columns-panel__title panel__heading">{{block.panelTitleLeft}}</h2>
						<p class="text-columns-panel__description panel__content">{{block.panelContentLeft | nl2br}}</p>
					</div>
					<div class="text-columns-panel__content">
						{% if block.subjectRight %}
							<div class="text-columns-panel__subject">{{ block.subjectRight }}</div>
						{% endif %}
						<h2 class="text-columns-panel__title">{{block.panelTitleRight}}</h2>
						<p class="text-columns-panel__description">{{block.panelContentRight | nl2br}}</p>
					</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "hr" %}
		<hr>
	{% elseif block.type == "bullets" %}
		<section class="bullets">
			<div class={{ container }}>
				{% if block.heading | length %}
					<h2 class="bullets__heading">{{block.heading}}</h2>
				{% endif %}
				<ul>
					{% set items = block.items %}
					{% for item in items %}
						<li>{{item.item}}</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	{% elseif block.type == "contentPanel" %}
		{% if block.panelBackgroundColor == 'grey' %}
			{% set color = '#e6e7e8' %}
		{% elseif block.panelBackgroundColor == 'transparent' %}
			{% set color = 'transparent' %}
		{% else %}
			{% set color = 'transparent' %}
		{% endif %}

		<section class="content-panel{% if block.panelBackgroundColor == 'grey' %} content-panel--padded{% endif %}" style="background-color: {{ color }}">
			<div class={{ container }}>
				<div class="content-panel__container">
				{% if block.panelTitle %}
					<h2 class="panel__heading">{{ block.panelTitle }}</h2>
				{% endif %}
				{% if block.panelSubheading %}
					<h3 class="panel__subheading">{{ block.panelSubheading }}</h3>
				{% endif %}
					<div class="panel__content">{{ block.panelContent}}</div>
				</div>
			</div>
		</section>

	{% elseif block.type == 'blockQuote' %}
		<div class={{ container }}>
			<blockquote>
				<p>
					{{ block.quote }}
				</p>
				<small>{{ block.author }}</small>
			</blockquote>
		</div>
	{% elseif block.type == "cta" %}
		<section class="cta">
			<div class={{ container }}>
				<div  class="cta__inner">
					<h2 class="cta__heading">
						{{block.ctaHeading}}
					</h2>
					<p class="cta__summary">{{block.ctaSummary}}</p>
					<a href={{block.ctaLinkURL}} class="cta__link button button--secondary button--arrow">{{block.ctaLinkText}}</a>
				</div>
			</div>
		</section>					

	{% elseif block.type == "projectsRollup" %}
		<section id="projects" class="featured-projects">
			<div class={{ container }}>
				<h2 class="featured-projects__heading">{{ block.projectsPanelHeading }}</h2>

				<div class="featured-projects__filters" data-filter-group="category">
					{% set myTagQuery = craft.tags().group('projectsFilter') %}
					<button class="featured-projects__filters-link featured-projects__filters-link--active" data-filter="*">All</button>
					{% set tags = myTagQuery.all() %}
					{% for tag in tags %}
						<button class="featured-projects__filters-link" data-filter=".{{ tag.title | lower }}">{{ tag.title }}</button>
					{% endfor %}
				</div>
			</div>
			<div id="grid" class="featured-projects__grid">
				{% set items = entry.featuredProjectsItems %}
        		{% for item in items %}
					{% set cssFilterClassess = "" %}
					{% if item.type == 'project' %}
						{% set slug = item.projectSlug %}
						{% set project = craft.entries.section('projects').slug(slug).one() %}
						{% set allTagsArray = project.projectsTags.all() %}
						{% for item in allTagsArray %}
							{% set cssFilterClassess = cssFilterClassess ~ ' ' ~ item.title %}
						{% endfor %}

						<div id="project-item" class="featured-projects__item{{cssFilterClassess | lower}}">
							{% set image = project.projectsRollupImage.one() %}
							<a class="featured-projects__anchor" href={{ project.uri }}>
								<picture class="featured-projects__picture">
									<div class="featured-projects__overlay">
										<p class="featured-projects__description">{{project.projectsRollupDescription}}</p>
									</div>
									<source {{ attr({
										type: 'image/webp',
										srcset: image.getSrcset(
											[320, 360, 412, 434, 600, 768, 1024, 1280, 1440],
											{ format: 'webp', }
										),
										sizes: '(max-width: 768px) 100vw, (max-width: 1052px) 50vw, 33vw', 
									}) }}>
									<source {{ attr({
										type: 'image/jpeg',
										srcset: image.getSrcset(
											[320, 360, 412, 434, 600, 768, 1024, 1280, 1440],
											{ format: 'jpeg', }
										),
										sizes: '(max-width: 768px) 100vw, (max-width: 1052px) 50vw, 33vw', 
									}) }}>
									<img class="featured-projects__image" src={{image.url}} width={{image.width}} height={{image.height}} alt="{{ image.alt }}" loading="lazy"/>
								</picture>
							</a>
						</div>
					{# {% endfor %} #}
					{% elseif item.type == 'nonProjectCard' %}
						<div id="project-item" class="featured-projects__item">
							<div class="featured-projects__inner featured-projects__inner--no-image">
								<div class="featured-projects__content">
									<h3 class="featured-projects__title">{{item.cardTitle}}</h3>
									<span class="featured-projects__summary">{{item.cardSummary}}</span>
									{% if (item.cardLinkText | length) and (item.cardLinkUrl | length) %}
										<a href={{item.cardLinkUrl}} class="button button--arrow button--secondary">{{item.cardLinkText}}</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</section>

	{% elseif block.type == "servicesRollup" %}
		<section id="services" class="services-rollup">
			<div class={{ container }}>
				<div class="services-rollup__inner">
					<h2 class="services-rollup__heading">{{block.servicesPanelHeading}}</h2>
					<div class="services-rollup__sub-heading">{{block.servicesPanelSubheading}}</div>
						<div class="services-rollup__items">
							{% for item in craft.entries.section('services').all() %}
								<div class="services-rollup__item">
									{% set image = item.servicesRollupImage.one() %}
									<a href={{item.uri}}>
										<picture class="services-rollup__picture">
											<div class="featured-projects__overlay">
												<p class="featured-projects__description">{{item.title}}</p>
											</div>
											<source {{ attr({
												type: 'image/webp',
												srcset: image.getSrcset(
													[320, 360, 412, 600, 768, 1024, 1280, 1440],
													{ format: 'webp', }
												),
												sizes: '(min-width: 768px) 50%, 416px',
											}) }}>
											<source {{ attr({
												type: 'image/jpeg',
												srcset: image.getSrcset(
													[320, 360, 412, 600, 768, 1024, 1280, 1440],
													{ format: 'jpeg', }
												),
												sizes: '(min-width: 768px) 100%, 100%',
											}) }}>
											<img class="services-rollup__image" src={{image.url}} width={{image.width}} height={{image.height}} alt="{{ image.alt }}" loading="lazy"/>
										</picture>
									</a>
									<div class="services-rollup__text">
										<a href={{item.uri}}>
											<h3 class="services-rollup__title">
												{{ item.title }}
											</h3>
										</a>
										<div class="services-rollup__summary">
											{{ item.servicesRollupDescription }}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
				</div>
			</div>
		</section>

	{% elseif block.type == "articlesRollup" %}
		<section id="articles" class="articles-rollup">
			<div class={{ container }}>
				<div class="articles-rollup__inner">
					<h2 class="articles-rollup__heading">{{block.articlesPanelHeading}}</h2>
						<div class="articles-rollup__items">
							{% for item in craft.entries.section('articles').limit(block.articlesLimit) %}
								<div class="articles-rollup__item">
									{% set image = item.articlesImage.one() %}
									<picture class="articles-rollup__picture">
										<source {{ attr({
											type: 'image/webp',
											srcset: image.getSrcset(
												[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
												{ format: 'webp', }
											),
											sizes: '(min-width: 1024px) 416px, 983px',
										}) }}>
										<source {{ attr({
											type: 'image/jpeg',
											srcset: image.getSrcset(
												[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
												{ format: 'jpeg', }
											),
											sizes: '(min-width: 1024px) 416px, 983px',
										}) }}>
										
										<img class="articles-rollup__image" alt="{{ image.alt }}" src={{image.url}} width={{image.width}} height={{image.height}} loading="lazy"/>
									</picture>
									<div class="articles-rollup__text">
										<div class="articles-rollup__date-container">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 -256 1850 1850"><path d="M128-128h288v288H128v-288zm352 0h320v288H480v-288zM128 224h288v320H128V224zm352 0h320v320H480V224zM128 608h288v288H128V608zm736-736h320v288H864v-288zM480 608h320v288H480V608zm768-736h288v288h-288v-288zM864 224h320v320H864V224zm-352 864v288q0 13-9.5 22.5T480 1408h-64q-13 0-22.5-9.5T384 1376v-288q0-13 9.5-22.5t22.5-9.5h64q13 0 22.5 9.5t9.5 22.5zm736-864h288v320h-288V224zM864 608h320v288H864V608zm384 0h288v288h-288V608zm32 480v288q0 13-9.5 22.5t-22.5 9.5h-64q-13 0-22.5-9.5t-9.5-22.5v-288q0-13 9.5-22.5t22.5-9.5h64q13 0 22.5 9.5t9.5 22.5zm384 64V-128q0-52-38-90t-90-38H128q-52 0-90 38T0-128v1280q0 52 38 90t90 38h128v96q0 66 47 113t113 47h64q66 0 113-47t47-113v-96h384v96q0 66 47 113t113 47h64q66 0 113-47t47-113v-96h128q52 0 90-38t38-90z" style="fill:currentColor" transform="matrix(1 0 0 -1 91.119 1297.864)"/></svg>
											<span class="articles-rollup__date">{{ item.articlesDate | date('medium') }}</span>
										</div>

										<div class="articles-rollup__title">{{item.title}}</div>
										<div class="articles-rollup__summary">{{item.articlesRollupDescription}}</div>
										<a href={{item.uri}} class="articles-rollup__link button button--arrow">{{item.articlesLinkText}}</a>
									</div>
								</div>
							{% endfor %}
						</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endfor %}

