<section class="featured-projects">
	<div class="u-container">
		<h2 class="featured-projects__heading">{{ entry.projectsPanelHeading }}</h2>
		<div class="featured-projects__filters" data-filter-group="category">
			{% set myTagQuery = craft.tags().group('projectsFilter') %}
			<button class="featured-projects__filters-link featured-projects__filters-link--active" data-filter="*">All</button>
			{% set tags = myTagQuery.all() %}
			{% for tag in tags %}
				<button class="featured-projects__filters-link" data-filter=".{{ tag.title | lower }}">{{ tag.title }}</button>
			{% endfor %}
		</div>
		<div class="featured-projects__grid">
			{% for project in craft.entries.section('projects') %}
				{% set cssFilterClassess = "" %}
				{% set allTagsArray = project.projectsTags.all() %}
				
				{% for item in allTagsArray %}
					{% set cssFilterClassess = cssFilterClassess ~ item.title %}
				{% endfor %}

				<div class="featured-projects__item {{cssFilterClassess | lower}}">
					<a class="featured-projects__anchor" href={{ project.url }}>
						{% set image = project.projectsRollupImage.one() %}
							{% set transform1x = {
								format: 'webp',
								mode: 'crop',
								width: 650,
								quality: 85
							} %}	
							{% set transform2x = {
								format: 'webp',
								mode: 'crop',
								width: 1300,
								quality: 85
							} %}
							{% set transform3x = {
								format: 'webp',
								mode: 'crop',
								width: 1950,
								quality: 85
							} %}
							{% set transformFallback = {
								format: 'jpeg',
								mode: 'crop',
								width: 650,
								quality: 80
							} %}

						<div class="featured-projects__inner"
							style="
								background-image: url({{image.getUrl(transformFallback)}});
								background-image: -webkit-image-set(
									url({{image.getUrl(transform1x)}}) 1x,
									url({{image.getUrl(transform2x)}}) 2x,
									url({{image.getUrl(transform3x)}}) 3x
								);
								background-image: image-set(
									url({{image.getUrl(transform1x)}}) 1x,
									url({{image.getUrl(transform2x)}}) 2x,
									url({{image.getUrl(transform3x)}}) 3x
								)"
						>
							<div class="featured-projects__overlay">
								<p class="featured-projects__description">{{ project.projectsRollupDescription }}</p>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
			{#<div class="featured-projects__item industrial" data-category="consumer">
				<a class="featured-projects__anchor" href="/contact">
					<div class="featured-projects__inner featured-projects__inner--no-image">
						<div class="featured-projects__overlay">
							{# <h4 class="">Tangent Engineers Innovation</h4>
							<p class="">Tangent works with innovators to optimize impact and feasibility. We are incredibly easy to work with.</p>
							<a href="company" class="button button--secondary">Read more about us.</a>
						</div>
						<div class="featured-projects__content">
							<h4 class="featured-projects__title">Tangent Engineers Innovation</h4>
							<p class="">Tangent works with innovators to optimize impact and feasibility. We are incredibly easy to work with.</p>
							<a href="" class="button button--secondary">Read more about us.</a>
						</div>
					</div>
				</a>
			</div>#}
		</div>
	</div>
</section>

