<div class="meta">

	<div class="u-container">

		<div class="meta__inner">
			<div class="meta__column">
				<div class="meta__label">Client</div>
				<div class="meta__item">{{ entry.projectsClient }}</div>
			</div>

			<div class="meta__column">
				<div class="meta__label">Location</div>
				<div class="meta__item">{{ entry.projectsLocation }}</div>
			</div>

			<div class="meta__column">
				<div class="meta__label">Category</div>
				<ul class="meta__list">
					{% set tags = entry.projectsTags.all() %}
					
					{% for item in tags %}
						<li class="meta__item">
							{{item.title}}{% if loop.last == false %},{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="meta__column">
				<div class="meta__label">Services</div>
				<ul class="meta__list">
					{% if entry.projectsRelatedServices | length %}
						{% set tags = entry.projectsRelatedServices.all() %}
						
						{% for item in tags %}
							<li class="meta__link-item">
								<a href={{item.path}} class="meta__link">{{item.title}}</a>{% if loop.last == false %},{% endif %}
							</li>
						{% endfor %}
					{% endif %}
				</ul> 
			</div>
		</div>

	</div>
</div>

