<section class="related-projects">
    <div class="u-container">
        <h2 class="related-projects__heading">{{ entry.relatedProjectsHeading }}</h2>
    </div>
    <div id="grid" class="related-projects__grid">
        {% set slugs = entry.relatedProjectsSlug %}
        {% for slug in slugs %}
            {% set project = craft.entries.section('projects').slug(slug).one() %}
            {% if project %}
                <div id="project-item" class="related-projects__item">
                    {% set image = project.projectsRollupImage.one() %}
                    <a class="related-projects__anchor" href={{ project.uri }}>
                        <picture class="related-projects__picture">
                            <div class="related-projects__overlay">
                                <p class="related-projects__description">{{project.projectsRollupDescription}}</p>
                            </div>
                            <source {{ attr({
                                type: 'image/webp',
                                srcset: image.getSrcset(
                                    [320, 360, 412, 434, 600, 768, 1024, 1280, 1440],
                                    { format: 'webp', }
                                ),
                                sizes: '(max-width: 768px) 100vw, (max-width: 1052px) 50vw, 434px', 
                            }) }}>
                            <source {{ attr({
                                type: 'image/jpeg',
                                srcset: image.getSrcset(
                                    [320, 360, 412, 434, 600, 768, 1024, 1280, 1440],
                                    { format: 'jpeg', }
                                ),
                                sizes: '(max-width: 768px) 100vw, (max-width: 1052px) 50vw, 434px', 
                            }) }}>
                            <img class="related-projects__image" src={{image.url}} width={{image.width}} height={{image.height}} alt="{{ image.alt }}" loading="lazy"/>
                        </picture>
                    </a>
                </div>
            {% endif %}
        {% endfor %}

        {% if slugs | length < 3 %}
            <div id="project-item" class="related-projects__item">
                <div class="related-projects__inner related-projects__inner--no-image">
                    <div class="related-projects__content">
                        <h3 class="related-projects__title">{{entry.relatedProjectsContentCardTitle}}</h3>
                        <span class="related-projects__summary">{{entry.relatedProjectsContentCardSummary}}</span>
                        {% if (entry.relatedProjectsContentCardLinkText | length) and (entry.relatedProjectsContentCardLinkUrl | length) %}
                            <a href={{entry.relatedProjectsContentCardLinkUrl}} class="button button--arrow button--secondary">{{entry.relatedProjectsContentCardLinkText}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>