		<section class="related-projects">
			<div class="u-container">
				<h2 class="related-projects__heading">{{ block.projectsPanelHeading }}</h2>
				<div class="related-projects__grid">
					{% set slugs = block.projectsSlug %}
					{% for slug in slugs %}
						{% set project = craft.entries.section('projects').slug(slug).one() %}

						<div class="related-projects__item">
							<a class="related-projects__anchor" href={{ project.uri }}>
								{% set image = project.projectsRollupImage.one() %}
								{% set transform1x = {
                                        format: 'webp',
                                        mode: 'crop',
                                        width: 650,
                                        quality: 85
                                    } %}
								{% set transform2x = {
                                        format: 'webp',
                                        mode: 'crop',
                                        width: 1300,
                                        quality: 85
                                    } %}
								{% set transform3x = {
                                        format: 'webp',
                                        mode: 'crop',
                                        width: 1950,
                                        quality: 85
                                    } %}
								{% set transformFallback = {
                                        format: 'jpeg',
                                        mode: 'crop',
                                        width: 650,
                                        quality: 80
                                    } %}

								<div class="related-projects__inner" {% if image %} style="
                                        background-image: url({{image.getUrl(transformFallback)}});
                                        background-image: -webkit-image-set(
                                            url({{image.getUrl(transform1x)}}) 1x,
                                            url({{image.getUrl(transform2x)}}) 2x,
                                            url({{image.getUrl(transform3x)}}) 3x
                                        );
                                        background-image: image-set(
                                            url({{image.getUrl(transform1x)}}) 1x,
                                            url({{image.getUrl(transform2x)}}) 2x,
                                            url({{image.getUrl(transform3x)}}) 3x
                                        )" {% endif %}
                                    >
									<div class="related-projects__overlay">
										<p class="related-projects__description">{{ project.projectsRollupDescription }}</p>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>