<section class="service-card-panel">
    <div class="u-container">
        <div class="service-card-panel__container">
            <div class="service-card-panel__item">
                <h2 class="service-card-panel__heading">
                    {{entry.serviceCardHeadingLeft}}
                </h2>
                <div class="service-card-panel__sub-heading">{{entry.serviceCardSubHeadingLeft}}</div>
                <div class="service-card-panel__summary">{{entry.serviceCardSummaryLeft}}</div>
                <a href={{entry.serviceCardLinkUrlLeft}} class="service-card-panel__link button button--arrow">{{entry.serviceCardLinkTextLeft}}</a>
            </div>
            <div  class="service-card-panel__item">
                <h2 class="service-card-panel__heading">
                    {{entry.serviceCardHeadingRight}}
                </h2>
                <div class="service-card-panel__sub-heading">{{entry.serviceCardSubHeadingRight}}</div>
                <div class="service-card-panel__summary">{{entry.serviceCardSummaryRight}}</div>
                <a href={{entry.serviceCardLinkUrlRight}} class="service-card-panel__link button button--arrow">{{entry.serviceCardLinkTextRight}}</a>
            </div>
        </div>
    </div>
</section>