<section class="team">
	<div class="u-container">
		<div class="team__inner">
			{% for item in craft.entries.section('team') %}
				{% if item.type.handle == 'default' %}
					<div class="team__item">
						<div class="team__picture-container">
							{% set image = item.teamImage.one() %}
							<picture class="team__picture team__picture--front">
								<source {{ attr({
									type: 'image/webp',
									srcset: image.getSrcset(
										[304, 320, 360, 412, 600, 768, 1024, 1280, 1440],
										{ format: 'webp', }
									),
									sizes: '(max-width: 768px) 100vw, 304px',
								}) }}>
								<source {{ attr({
									type: 'image/jpeg',
									srcset: image.getSrcset(
										[304, 320, 360, 412, 600, 768, 1024, 1280, 1440],
										{ format: 'jpeg', }
									),
									sizes: '(max-width: 768px) 100vw, 304px',
								}) }}>
								<img class="team__image team__image--front" src={{item.image}} alt={{item.teamName}} width={{image.width}} height={{image.height}} loading="lazy">
							</picture>

							{% set image = item.teamImageBack.one() %}
							<picture class="team__picture team__picture--back">
								<source {{ attr({
									type: 'image/webp',
									srcset: image.getSrcset(
										[304, 320, 360, 412, 600, 768, 1024, 1280, 1440],
										{ format: 'webp', }
									),
									sizes: '(max-width: 768px) 100vw, 304px',
								}) }}>
								<source {{ attr({
									type: 'image/jpeg',
									srcset: image.getSrcset(
										[304, 320, 360, 412, 600, 768, 1024, 1280, 1440],
										{ format: 'jpeg', }
									),
									sizes: '(max-width: 768px) 100vw, 304px',
								}) }}>
								<img class="team__image team__image--front" src={{item.image}} alt={{item.teamName}} width={{image.width}} height={{image.height}} loading="lazy">
							</picture>
						</div>
						<div class="team__text">
							<h5 class="team__name">{{item.teamName}}</h5>
							<span class="team__title">{{item.teamJobTitle}}</span>
						</div>
					</div>
				{% elseif item.type.handle == 'stat' %}
					<div class="stat__item">
						<div class="stat__digit">{{ item.teamStatDigit}}</div>
						<div class="stat__description">{{ item.teamStatDescription}}</div>
					</div>
				{% endif %}  
			{% endfor %}
		</div>
	</div>
</section>

